<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="sqlite" value="https://www.nuget.org/packages/System.Data.SQLite/" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="EntityFramework" />
      <package pattern="Newtonsoft.Json" />
    </packageSource>
    <packageSource key="sqlite">
      <package pattern="System.Data.SQLite" />
    </packageSource>
  </packageSourceMapping>
</configuration>

